img
{
    position:relative;
    top: auto;
    left: auto;
    margin:left;    
}


p.centrado
{

    text-align: center;

    
}

body
{
    background-color:darkcyan;
}
.centrado
{
    text-align: center;
}