img
{
    position:relative;
    top: auto;
    left: auto;
    margin:left;    
}


p.centrado
{

    text-align: center;

}

body
{
    background-color:darkcyan;
}
.centrado
{
    text-align: center;
}

.p1
{
    margin: auto;
    width: 17%;
    height: 15vh;
    color:black;
    float:initial;
    font-family: cursive;
}

.p2
{
    margin: auto;
    width: 25%;
    height: 15vh;
    color:black;
    float:initial;
    font-family: cursive;
}

.p3
{
    margin: auto;
    width: 30%;
    height: 15vh;
    color:black;
    float:initial;
    font-family: cursive;
}

h1
{
    font-size: 40px;
    text-align: center;
}

.conjunto
{
    text-align: right;
}

.p4
{
    
    margin: auto;
    height: auto;
    color:red;
    
    
}

